@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.modalPET{
    letter-spacing: 1px;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
    z-index: 99999;
    font-family: 'Bebas Neue', sans-serif;
}

.pataBackPET{
    background:url(imgs/Design\ sem\ nome\ \(1\).png) no-repeat center;
    padding: 16px 24px;
    top:-15px;
    width: 484px;
    height: 699px;
    border-radius: 8px;
    color: white;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
}
.modalContentPET{
    background-color: #0f5dd3e0;
    padding: 16px 24px;
    width: 484px;
    height: 700px;
    border-radius: 8px;
    color: white;
    top: 1.2rem;
    position: relative;
    
}

.closePET{
    cursor: pointer;
    width: 24px;
    float: left;
    background-color: rgb(39, 38, 97);
    text-align: center;
    line-height: 24px;
    border-radius: 20px;
    left: -30px;
    top: -25px;
}
.dogW{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}
.porte{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}

.formPopPET{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    top: -400px;
    position: relative;
    color: #ffffff;
}
.backIndexPET{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    top: 20px;
    position: relative;
    color: #ffffff;
    z-index: 2;
}

.other{
    top: 80px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}
.BtnwppWrapPET{
    display: flex;
    position:absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 650px;
}
.btnWppAllPET{
    width: 240px;
    height: 50px;
    position: relative;
    top: -20px;
    font-style: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background-color: #29a71a;
    cursor: pointer;    
    box-shadow: 0px 10px 25px rgba(0,0,0,0.6);
}
.btnWppAllPET:hover{
    background-color: #237427;
}
.btnWppAllPET a{
    text-decoration: none;
    position: relative;
    top: 0px;
    color: white;
    
}

.btnWppAllPET img{
    position: relative;
    right: 15px;
    top: 2px;
}
.inputOther{
    width: 340px;
    height: 60px;
    top: 380px;
    text-align: center;
    border-radius: 7px;
}

.selectPET{
    width: 340px;
    height: 30px;
    top: 0px;
    text-align: center;
    border-radius: 7px;
    margin: 0px 0px 30px 0px;
    position: relative;
}
.closePET{
z-index: 9999;
left: -24px;
top: -14px;
position: relative;
}

.formPopPET label{
    font-size: 24px;
}

.wppbtnbodyPET{
border-radius: 10px;
position: fixed;
bottom: 10px;
right: 10px;
cursor: pointer;
background-color: #29a71a;
z-index: 9999;
font-family: 'Bebas Neue', sans-serif;
display: flex;
height: 50px;
width: 200px;
font-size: 20px;
text-align: center;
justify-content: center;
align-items: center;
color: white;
box-shadow: 0px 0px 25px rgba(0,0,0,0.6);
}

.wppbtnbodyPET p {
    position: relative;
    top: 10px;

}

.catDog{
    width: 400px;
    height: 400px;
    top: -271px;
    position: relative;
}



/* Cards */
.cardsWrapPET{
display: flex;
opacity: 0;
visibility: hidden;
}
.cardsWrapPET h1{
    letter-spacing: 5px;
}
.cardsPET{
    display: flex;
    position: relative;
    top: -90px;
    margin-top: 15px;
}

.cardPET{
    /* font-size: 20px; */
    display: block;
    position: relative;
    margin: 0px 0px 0px 1rem;
    /* opacity: 0;
    visibility: hidden; */
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.planoClass{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}

 
.imgCardPET{
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.cardUlEconomy{
    visibility: hidden;
    opacity: 0; 
    flex-wrap: wrap;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 255px;
    right: 90px;
    top: -420px;
    border-radius: 8px;
    position: relative;
    transition: 0.2s ease-in-out;
}
.cardUlPremium{
    visibility: hidden;
    opacity: 0; 
    flex-wrap: wrap;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 380px;
    right: 90px;
    top: -545px;
    border-radius: 8px;
    position: relative;
    transition: 0.2s ease-in-out;
}

    
.greenPET{
    color: rgb(44, 74, 207);
    width:100px;
    top: -150px;
    position: relative;
}
.orangePET{
    color: rgb(219, 113, 14);
    width:100px;
    top: -150px;
    position: relative;
    
}
.imgscardhover{
    width: 110px;
    height: 165px;
}
.imgscardhover p{
    margin: 0;
    font-size: 32px;
    left: 150px;
    top: -10px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: #1c5eb4;
    color: #ffffff;
    position: relative;
}
     
.imgscardhover ul{
    text-align: start;
    width: 290px;
    right: 10px;
    position: relative;
    top: -70px;
    font-size: 20px;
}
/*  */
.imgscardhoverE{
    width: 110px;
    height: 165px;
}
.imgscardhoverE p{
    margin: 0;
    font-size: 25px;
    left: 150px;
    top: -15px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: rgb(219, 113, 14);
    color: #ffffff;
    position: relative;
}
   li{
    list-style-type: "\1F5F8";
   }  
.imgscardhoverE ul{
    font-size: 20px;
    text-align: start;
    width: 250px;
    right: 15px;
    position: relative;
    top: -70px;
}
/*  */
.imgscardhoverSP{
    width: 110px;
    height: 165px;
}
.imgscardhoverE h1{color: rgb(219, 113, 14);}
.imgscardhover h1{color: rgb(44, 74, 207);}

.imgscardhoverSP p{
    margin: 0;
    font-size: 40px;
    left: 170px;
    top: -10px;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    background-color:rgb(81, 27, 112);
    color: #ffffff;
    position: relative;
}
.imgscardhoverSP ul{
    font-size: 21px;
    text-align: start;
    width: 280px;
    right: 0px;
    position: relative;
    top: -75px;
}
/*  */
.cardUlS_Premium{
    visibility: hidden;
    opacity: 0;
    flex-wrap: wrap;
    color: rgb(81, 27, 112);
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 396px;
    right: 120px;
    top: -560px;
    border-radius: 8px;
    position: relative;
    transition: 0.2s ease-in-out;
    z-index:9;
}
.imgscardhover:hover .cardUlPremium{
    visibility: visible;
    opacity: 1;
}
.imgscardhover:hover .imgCardPET{
    transform: scale(1.1);
}

.imgscardhoverE:hover .cardUlEconomy{
    visibility: visible;
    opacity: 1;
}
.imgscardhoverE:hover .imgCardPET{
    transform: scale(1.1);
}
.imgscardhoverSP:hover .cardUlS_Premium{
    visibility: visible;
    opacity: 1;
}
.imgscardhoverSP:hover .imgCardPET{
    transform: scale(1.1);
}


.showModalPET{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
.grayscale{
    filter: grayscale(100%);
}



@media (min-width: 800px) {
.other{
    top: 40px;
}
.modalContentPET{
    width: 364px;
    height:540px;
    
}
.closePET{
    position: relative;
    z-index: 9999;
}
.pataBackPET{
    background:url(imgs/Design\ sem\ nome\ \(1\).png) no-repeat center;
    padding: 16px 24px;
    top: 90px;
    width: 364px;
    height: 540px;
    border-radius: 8px;
    color: white;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
}
.formPopPET label{
    font-size: 18px;
}

.selectPET{
    width: 300px;
    height: 30px;
    top: 0px;
    text-align: center;
    border-radius: 7px;
    margin: 0px 0px 15px 0px;
    position: relative;
}

.formPopPET{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    top: -430px;
    position: relative;
    color: #ffffff;
}
.catDog{
    width: 300px;
    height: 300px;
    top: -232px;
}
.backIndexPET{
    top: 140px;
}
.imgCardPET{
    width: 85px;
    height: 115px;
    position: relative;
}

.btnWppAllPET{
    width: 200px;
    height: 50px;
    position: relative;
    top: -195px;
}

.cardUlS_Premium{
    right: 215px;
    top: -520px;
}
.cardUlEconomy{
    right:-10px;
    top: -380px;
}
.cardUlPremium{
    right: 100px;
    top: -500px;

}
.imgscardhoverE{
    width: 90px;
    height: 115px;
}
.imgscardhoverSP{
    width: 90px;
    height: 115px;
}
.imgscardhover{
    width: 90px;
    height: 115px;
}
}

@media (max-height: 900px) {
    .modalContentPET{
        width: 364px;
        height:580px;
        
    }
    .closePET{
        right: 394px;
        z-index: 9999;
    }
    .pataBackPET{
        background:url(imgs/Design\ sem\ nome\ \(1\).png) no-repeat center;
        padding: 16px 24px;
        top: 104px;
        width: 364px;
        height: 580px;
        border-radius: 8px;
        color: white;
        position: absolute;
        z-index: 1;
        opacity: 0.2;
    }
    .formPopPET label{
        font-size: 18px;
    }
    
    .selectPET{
        width: 300px;
        height: 30px;
        top: 0px;
        text-align: center;
        border-radius: 7px;
        margin: 0px 0px 15px 0px;
        position: relative;
    }
    
    .formPopPET{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        top: -400px;
        position: relative;
        color: #ffffff;
    }
    .catDog{
        width: 280px;
        height: 280px;
        top: -195px;
    }
    .backIndexPET{
        top: 140px;
    }
    .imgCardPET{
        width: 85px;
        height: 115px;
        position: relative;
    }
    
    .btnWppAllPET{
        width: 200px;
        height: 50px;
        position: relative;
        top: -135px;
    }
    
    .cardUlS_Premium{
        right: 215px;
        top: -520px;
    }
    .cardUlEconomy{
        right:-10px;
        top: -380px;
    }
    .cardUlPremium{
        right: 100px;
        top: -500px;
    
    }
    .imgscardhoverE{
        width: 90px;
        height: 115px;
    }
    .imgscardhoverSP{
        width: 90px;
        height: 115px;
    }
    .imgscardhover{
        width: 90px;
        height: 115px;
    }
    .other{
        top: 40px;
    }
}

@media (max-width: 400px) {
    .modalContentPET{
        width: 294px;
        height:500px;
        
    }

    .pataBackPET{
        background:url(imgs/Design\ sem\ nome\ \(1\).png) no-repeat center;
        padding: 16px 24px;
        top: 120px;
        width: 294px;
        height: 500px;
        border-radius: 8px;
        color: white;
        position: absolute;
        z-index: 1;
        opacity: 0.2;
    }
    .formPopPET label{
        font-size: 16px;
    }
    
    .selectPET{
        width: 250px;
        height: 30px;
        top: 0px;
        text-align: center;
        border-radius: 7px;
        margin: 0px 0px 15px 0px;
        position: relative;
    }
    
    .formPopPET{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        top: -400px;
        position: relative;
        color: #ffffff;
    }
    .catDog{
        width: 240px;
        height: 240px;
        top: -194px;
    }
    .backIndexPET{
        top: 140px;
    }
    .imgCardPET{
        width: 75px;
        height: 105px;
        position: relative;
    }
    .cardPET{
        margin: 0px;
    }
    .btnWppAllPET{
        width: 200px;
        height: 45px;
        position: relative;
        top: -219px;
    }
    
    .cardUlS_Premium{
        right: 215px;
        top: -520px;
    }
    .cardUlEconomy{
        right:-10px;
        top: -380px;
    }
    .cardUlPremium{
        right: 100px;
        top: -500px;
    
    }
    .imgscardhoverE{
        width: 90px;
        height: 115px;
    }
    .imgscardhoverSP{
        width: 90px;
        height: 115px;
    }
    .inputOther{
        width: 250px;
        top: -30px;
        position: relative;
    }
    .imgscardhover{
        width: 90px;
        height: 115px;
    }
    .other{
        top: 40px;
    }
}

