@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.modal{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
    z-index: 99999;
    font-family: 'Bebas Neue', sans-serif;
}

.modalContent{
    background-color: #2b51a2;
    padding: 16px 24px;
    width: 484px;
    height: 700px;
    border-radius: 5px;
    color: white;
}

.close{
    cursor: pointer;
    width: 24px;
    float: right;
    background-color: rgb(39, 38, 97);
    text-align: center;
    line-height: 24px;
    border-radius: 20px;
}
.dogW{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}
.porte{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}

.formPop{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    top: -400px;
    position: relative;
}

.other{
    top: 160px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out; 
}
.BtnwppWrap{
    display: flex;
    position:absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 650px;
}
.btnWppAll{
    width: 240px;
    height: 50px;
    position: relative;
    top: 0px;
    font-style: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background-color: #29a71a;
    cursor: pointer;
}
.btnWppAll:hover{
    background-color: #237427;
}
.btnWppAll a{
    text-decoration: none;
    position: relative;
    top: -10px;
    color: white;
}

.btnWppAll img{
    position: relative;
    right: 15px;
    top: 2px;
}
.inputOther{
    width: 340px;
    height: 60px;
    top: 380px;
    text-align: center;
    border-radius: 7px;
}

select{
    width: 340px;
    height: 30px;
    top: 0px;
    text-align: center;
    border-radius: 7px;
    margin: 0px 0px 30px 0px;
    position: relative;
}
.close{
z-index: 99999999;
position: relative;
}

.formPop label{
    font-size: 24px;
}

.wppbtnbody{
border-radius: 10px;
position: fixed;
bottom: 10px;
right: 10px;
cursor: pointer;
background-color: #29a71a;
z-index: 9999;
font-family: 'Bebas Neue', sans-serif;
display: flex;
height: 50px;
width: 200px;
font-size: 20px;
text-align: center;
justify-content: center;
align-items: center;
color: white;
}

.catDog{
    width: 400px;
    height: 400px;
    top: -271px;
    position: relative;
}

.showModal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

